{% extends 'home/base.html' %}

{% block content %}
{% load static %}

<div class="cabinet">
    <div class="container">

        <h2 class="text-center">Неробов Христофоров Данилович</h2>
        <div class="row">
            <img class="col-md-5" src="{% static 'img/profile.png' %}" alt="">
            <div class="col-md-7">
                <p>19.03.2001</p>
                <p>+7924649721</p>
                <p>Количество участий - 3</p>
                <p>qwezxc@mail.ru</p>
            </div>
        </div>
        <div class="cabinet_logo_text">
            ИСИП 20/2
        </div>
    </div>

</div>



{% endblock %}